@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-main {
    background-color: #10151d;
}

.bg-second {
    background-color: #1f2939;
}

.text-main {
    color: #d9dfe7;
}

.border-b-1 {
    border-bottom: 1px solid #4f5966;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.i-left {
    margin-right: auto;
}

.i-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



/* Resizing */

.custom-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    cursor: ew-resize;
    background: transparent;
}

.custom-handle:hover {
    background: rgba(0, 204, 255, 0.2);
}

.custom-vertical-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    cursor: ns-resize;
    background: transparent;
}

.custom-vertical-handle:hover {
    background: rgba(0, 204, 255, 0.2);
}